<div class="activity-view">
    <h5><a href="" ng-click="goBack()" class="back-link">Back to Details List</a> </h5>
    <table class="table table-striped activity-table msg-table">
        <tbody>
            <tr>
                <th>File</th>
                <th>Recipient</th>
                <th>Received</th>
                <th>Method</th>
                <th>IP Address</th>
            </tr>
            <tr ng-repeat="delivery in filterActivity(distribution.activity)">
                <td class="activity-data">{{delivery.fileName}}</td>
                <td class="activity-data">{{delivery.mailbox}}</td>
                <td class="activity-data">{{formatDate(delivery.deliveredDate)}}</td>
                <td class="activity-data">{{toTitleCase(delivery.deliveryMethod)}}</td>
                <td class="activity-data">{{delivery.ipAddress}}</td>
            </tr>
        </tbody>
    </table>
</div>
