<div class="tab-options-outer" ng-init="reset(list)">
    <div class="detail-header">
        <h5><a href="" class="back-link" ng-click="goBack()">Back to Package List</a> </h5>
    </div>
    <div class="tab-options-inner">
        <div class="tab-options-wrapper">
            <div>
                <div class="chk-select" ng-show="showAllBtn" ng-click="selectAll(distribution.recipients)">All</div>
                <div class="chk-select" ng-show="ShowNoneBtn" ng-click="deselectAll(distribution.recipients)">None</div>
                <div class="tab-options">
                    <div class="tab-btns" ng-show="tabView">
                        <ul>
                            <li ng-repeat="option in detailOptions track by $index">
                                <a ng-click="click(option, distribution.recipients)" href="">{{option.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div back-to-top class="pkg-table">
    <table class="table table-striped msg-table dtl-table">
        <tbody>
            <tr ng-repeat="detail in distribution.recipients">
                <td class="chkbox">
                    <input ng-change="showTabsOptions(list)" class="toggle-select" ng-model="detail.Selected" type="checkbox" />
                </td>
                <td>{{detail.mailbox}}</td>
                <td>
                    <div ng-show="detail.activity.length > 0">
                        <a ui-sref="main.detail.activity({dist:obfuscate(distResource), recip:obfuscate('{{detail.mailbox}}')})" ng-click="activitySelected('{{detail.mailbox}}')">{{detail.activityStatus}}</a>
                    </div>
                    <div ng-show="detail.activity.length == 0">
                        No Activity
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
