<form name="recpEmailForm" ng-submit="addRecpEmail()" novalidate >
    <div class="form-section recp-form">
        <input type="text" ng-model="model" ng-keydown="selected = false" placeholder="{{prompt}}" id="to-recipient" class="form-control" ng-pattern="myRegex" ng-blur="hideSuggest()"/>
        <span id="add-distr-icon">
            <a href="" >
                <img id="add-distr" bs-tooltip data-title="Upload distribution file" src="images/plus.png"  ng-click="openFileDialog()">
            </a>
        </span>
        <div class="clear"></div>
    </div>
</form>
<br/>
<div class="items" id="auto-suggest-emails" ng-hide="!items.length || selected">
    <ul class="auto-suggest-list">
        <li class="item" ng-repeat="item in items| filter:model | limitTo: 8  track by $index" ng-click="handleSelection(item.mailbox)" style="cursor:pointer" ng-class="{'active-email':isCurrent($index)}" ng-mouseenter="setCurrent($index)">
            <p class="subtitle">{{item.mailbox}}</p>
        </li>
    </ul>
</div>
