<div class="row package" ng-init="reset(list)">
    <div id="packages" ng-init="backToTop(main)">
        <div ng-include src="'modules/commons/newBtn.html'"></div>
        <div class="main-left-col" id="packages-left-col">
            <div class="package-filters">
                <ul class="table-filter">
                    <li ng-repeat="filter in filters">
                        <a ui-sref=".{{filter}}" ui-sref-active="bold" id="{{filter | lowercase}}">{{filter}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-middle-col" ui-view>
        </div>
    </div>
</div>
</div>
