
<div class="search-box">
    <form class="navbar-form" role="search" ng-submit="resetPackagesNext()">
        <div class="form-group">
            <input ng-model='searchquery' type="text" class="form-control" id="searchbar" placeholder="Search">
        </div>
    </form>
</div>

<div back-to-top infinite-scroll="requestMorePackages()" back-to-top class="pkg-table">
    <table class="table table-striped msg-table">
        <tbody>
            <tr ng-repeat="detail in packageList  track by $index">
                <td class="pkg-subject" id="pkg-subject-all">
                    <a href="{{detail.link.draftUrl}}" class="msg-details" ng-click="draftSelected('{{detail.link.self}}')">{{detail.title}}</a>
                    <ul class="sub-text">
                        <li>{{detail.artistName}}</li>
                    </ul>
                </td>
                <td class="msg-status" uri="{{detail.link.self}}">{{detail.pkgStatus}}</td>
                <td class="trash-icon-cell">
                    <span bs-tooltip data-placement="bottom" data-title="delete" ng-show="(detail.pkgStatus === 'draft') || (detail.pkgStatus === 'scheduled')" ng-click="deletePackage(detail)" class="trash-icon"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
