<div class="search-box">
    <form class="navbar-form" role="search" ng-submit="resetPackagesNext(); requestMorePackages();">
        <div class="form-group">
            <input ng-model='searchquery' type="text" class="form-control" id="searchbar" placeholder="Search">
        </div>
    </form>
</div>
<div back-to-top infinite-scroll="requestMorePackages()" class="pkg-table">
    <table class="table table-striped msg-table">
        <tbody>
            <tr ng-repeat="detail in packageList | expiredFilter track by $index">
                <td class="pkg-subject">
                    <a ui-sref="main.detail.list" class="msg-details" ng-click="draftSelected('{{detail.link.self}}')">{{detail.title}}</a>
                    <ul class="sub-text">
                        <li>{{detail.artistName}}</li>
                    </ul>
                </td>
                <td class="msg-status">{{detail.pkgStatus}}</td>
                <td class="trash-icon-cell"></td>
            </tr>
        </tbody>
    </table>
</div>